* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3399ff;
    font-family: sans-serif;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    z-index: 10;
}

.icon {
    height: 2.5vh;
}

#email-icon, #linkedin-logo {
    padding-left: 1vw;
}

nav {
    margin-left: 2rem;
    margin-right: 1.25rem;
}

#hamburger-button {
    background: transparent;
}

#hamburger-icon {
    color: white;
    height: 2.5vh;
    width: 2.5vh;
    display: flex;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25em);
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    opacity: 0;
    pointer-events: none;
    transition-delay: opacity 300ms ease-in, transform 150ms ease-in;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.link {
    color: #3399ff;
    font-size: 50px;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    margin-top: 5vh;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr; */
}


/*HERO SECTION*/
#hero-section {
    background-color: #3399ff;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

#hero-content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto auto auto;
    row-gap: 1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12.5%;
    padding-right: 12.5%;

    
}
    
#greeting-text {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 6.5vw;
    display: flex;
    align-items: center;

    
}

#profile-picture-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
}

#profile-picture {
    width: 15vw;
    height: 15vw;

    
}

#introduction-text {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 5.3vw;
    line-height: 1.1;

    
}

ul {
    grid-area: 3 / 1 / 4 / 3;
    font-size: 2.7vw;
    list-style-type: none;

    
}

span {
    font-weight: bold;
}

/*WORKS SECTION*/
#works-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 2vh;
    padding-top: 2vh;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-bottom: 2vh;
    color: #3399ff;
}

.subsection-title-text {
    font-family: sans-serif;
}

.work-container {
    height: 16vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
    background-color: #3399ff;
    justify-items: center;
    align-items: end;
    border-radius: 5%;
    overflow: hidden;
}

.work {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.before-work-container {
    grid-area: 1 / 1 / 2 / 2;
    background: white;
}

.after-work-container {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #3399ff;
    display: grid;
}

.before-after-arrow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.arrow {
    width: 25px;
    height: 25px;
    background-color: transparent;
}

.tech-title-container {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    align-items: center;
    background-color: #3399ff;
    z-index: 2;
}

.tech-titles {
    padding-left: 1vw;
    padding-bottom: 1vw;
    font-size: 2vw;
    color: white;
    font-family: sans-serif;
}

/*PIXEL & RETRO ART SECTION*/
#pixel-and-retro-art-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#pixel-and-retro-art-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#rocket-work-container {
    grid-area: 2 / 1 / 3 / 2;
}

#real-starship-container {
    background-image:url('assets/starship-real.jpg');
    background-size: cover;
    background-position: center;
}

#rocket {
    width: 25%;
    justify-self: center;
    align-self: center;
}

#digital-rain-work-container {
    grid-area: 2 / 2 / 3 / 3;
}

@font-face {
    font-family: 'digital-rain';
    src: url('assets/fonts/digital-rain.ttf') format('truetype');
}

.digital {
    position: relative;
    font-family: 'digital-rain';
    font-weight: bold;
    color: white;
    overflow: hidden;
}

.digital-column {
    position: absolute;
    bottom: 8rem;
    font-size: 0.5rem;
    animation: digitalRain linear infinite;
    text-shadow: linear-gradient(rgba(0, 255, 0, 0.1), transparent, white);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.digital-column span:first-child {
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px white;
}

@keyframes digitalRain {
    to {
        transform: translateY(calc(100% + 8rem)); 
    }
}

.digital span {
    display: block;
    transform: rotate(90deg);
    margin-bottom: 0.2rem;
}

/*PHOTO MANIPULATION SECTION*/
#photo-manipulation-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#photo-manipulation-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#profile-picture-manipulation-work-container {
    grid-area: 2 / 1 / 3 / 2;
}

#profile-picture-before {
    background-image:url('assets/profile-picture-source.jpg');
    background-size: cover;
    background-position: center;
}

#profile-picture-after {
    width: 55%;
    justify-self: center;
    align-self: center;
}

#gate-removal-work-container {
    grid-area: 2 / 2 / 3 / 3;
}

#airport-picture-before {
    background-image:url('assets/airport-picture-before.jpg');
    background-size: cover;
    background-position: center;
}

#airport-picture-after {
    background-image:url('assets/airport-picture-after.jpg');
    background-size: cover;
    background-position: center;
}

/*WEB DESIGN SECTION*/
#web-design-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#web-design-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#bci-for-sci-site-work-container {
    grid-area: 2 / 1 / 3 / 2;
}

#bci-for-sci-site-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bci-for-sci-site {
    height: 85%;
}

#ecommerce-clothing-work-container {
    grid-area: 2 / 2 / 3 / 3;
}

#ecommerce-clothing-site-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ecommerce-clothing-site {
    height: 85%;
}

/*GLITCH ART SECTION*/
#glitch-art-section {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#glitch-art-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#glitched-mountain-work-container {
    grid-area: 2 / 1 / 3 / 3;
}

#glitched-mountain-container {
    background-image:url('assets/glitched-mountains.gif');
    background-size: cover;
    background-position: center;
}

/*ILLUSTRATION SECTION*/
#illustration-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#illustration-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#protein-balance-animation-work-container {
    grid-area: 2 / 1 / 3 / 2;
}

#protein-balance-animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#protein-balance-animation {
    height: 60%;
}

#avocado-animation-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#avocado-animation {
    height: 90%;
}


#illustration2-work-container {
    grid-area: 2 / 2 / 3 / 3;
}

/*INFOGRAPHIC VIDEO SECTION*/
#infographic-video-section {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#infographic-video-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#infographic-video1-work-container {
    grid-area: 2 / 1 / 3 / 3;
}

/*PRINT DESIGN SECTION*/
#print-design-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 2vh;
    column-gap: 2vh;
}

#print-design-title-text {
    grid-area: 1 / 1 / 2 / 3;
}

#shirt1-work-container {
    grid-area: 2 / 1 / 3 / 2;
}

#shirt2-work-container {
    grid-area: 2 / 2 / 3 / 3;
}


/*FOOTER SECTION*/
footer {
    height: 3vh;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3399ff;
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
}

#copyright-container {
    padding-left: 12.5%;
}

#nav-footer-container {
    padding-right: 12.5%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1vw;
}

#developer-footer-link {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
}

#separator {
    grid-area: 1 / 2 / 2 / 3;
    color: white;
}

#graphic-designer-footer-link {
    grid-area: 1 / 3 / 2 / 4;
    color: white;
}


@media only screen and (max-width: 400px) {
    #real-starship-container {
        background-image:url('assets/starship-real.jpg');
        background-size: cover;
        background-position: center;
    }
}